/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer  utilities {
  .content {
    @apply m-5 sm:m-10;
  }

  .content-element {
    @apply mt-16 sm:mt-24;
  }

  .gradient{
    @apply bg-gradient-to-r from-lavender via-salmon to-crayola ;
  }

  .button {
    @apply  h-fit rounded-full md:rounded-full px-2 py-1 text-xs xs:text-base xs:px-4 xs:py-3 ;
  }

  .button-register {
    @apply text-white h-fit rounded-full md:rounded-full px-2 py-2;
  }

  .title {
    @apply font-playfair font-extrabold text-2xl xs:text-4xl sm:text-5xl md:text-6xl lg:text-6xl xl:text-7xl;
  }

  .subtitle {
    @apply font-poppins font-light  sm:text-xl md:text-2xl ;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text p-1;
  }

  
}

*{
  font-family: 'Poppins', sans-serif;
}

video{
  width: 100%;
  height: auto;
}

.img-shadow{
  box-shadow: 0 5px 10px rgba(0, 0, 0,0.5);
}

.book-img{
  width: 50%;
  height: auto;
}



